/*************************
  seemarkpower Css Header
 *************************/


/* Document
   ========================================================================== */

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* header
   ========================================================================== */

div#header {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
}


/* header > wrapper */

div#header div.wrapper {
    width: 760px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px 0 375px;
    padding-left: 465px;
    background: rgba(255, 255, 255, .95);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMC45NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254, 254, 254, .95) 0%, rgba(251, 251, 251, .95) 24%, rgba(235, 235, 235, .95) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, .95) 0%, rgba(251, 251, 251, .95) 24%, rgba(235, 235, 235, .95) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, .95) 0%, rgba(251, 251, 251, .95) 24%, rgba(235, 235, 235, .95) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, .95) 0%, rgba(251, 251, 251, .95) 24%, rgba(235, 235, 235, .95) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, .95) 0%, rgba(251, 251, 251, .95) 24%, rgba(235, 235, 235, .95) 100%);
}


/* header > wrapper > left */

div#header > div > div.left {
    float: left;
    width: 400px;
    margin-left: -450px;
    padding: 23px 0;
}


/* header > wrapper > left >img */

div#header > div > div.left img {
    display: block;
    margin: 0;
}


/* header > wrapper > right */

div#header > div > div.right {
    font-size: 12px;
    position: relative;
    float: right;
    width: 100%;
    height: 58px;
    padding: 15px 0;
    vertical-align: baseline;
}


/* header > wrapper > right > search */

div#header div.search {
    position: relative;
    float: right;
    margin: -5px 0 0 15px;
}


/* header > wrapper > right > search > input */

div#header div.search input#txtSearch {
    width: 235px;
}


/* header > wrapper > right > utility */

div#header div.utility {
    float: right;
}


/* header > wrapper > right > utility > utilityNav */

div#header div.utility ul.utilityNav {
    display: block;
    float: right;
    margin: 0;
    list-style: none;
}

div#header div.utility ul.utilityNav a,
div.utility a.language {
    cursor: pointer;
    color: #54575b;
}


/* header > wrapper > right > utility > utilityNav > language */

div#header div.utility a.language {
    display: inline-block;
    float: right;
    padding: 0 0 0 0;
    cursor: pointer;
    text-decoration: none;
    color: #54575b;
}


/* header > wrapper > right > utility > utilityNav > li */

div#header div.utility ul.utilityNav li {
    float: left;
    margin: 0 15px 0 0;
}


/* header > wrapper > right > primaryNav */

div#header div.primaryNav ul.primaryNav {
    position: relative;
    bottom: -15px;
    display: block;
    float: right;
    margin-right: -15px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

div#header div.primaryNav ul.primaryNav > li {
    float: left;
    list-style: none;
}

div#header div.primaryNav ul.primaryNav > li > a {
    font-family: Arial, Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 5px 15px 9px 15px;
    cursor: pointer;
    text-decoration: none;
    color: #009cde;
}


/* header > wrapper > right > primaryNav > dropdown */

div#header div.primaryNav div.dropdown {
    display: none;
}

div#header div.primaryNav ul.primaryNav > li:hover div.dropdown,
div.primaryNav ul.primaryNav > li.hover div.dropdown {
    font-size: 13px;
    position: absolute;
    z-index: 1;
    top: 32px;
    right: 0;
    display: block;
    box-sizing: border-box;
    width: 990px;
    padding: 25px;
    border-top: solid 3px #009cde;
    background: linear-gradient(60deg, #f4f5f4 0%, #e9e9e9 42%, #e9e9e9 100%, #f0f0f0 100%);
    box-shadow: 0 -3px 10px rgba(0, 0, 0, .4);
}

div#header div.primaryNav div.dropdown > div > div.left {
    display: block;
    float: left;
    width: 330px;
    margin: 0 40px 0 0;
}

div#header div.primaryNav div.dropdown p.overview {
    font-family: Arial, Sans-Serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.45;
    margin: 0 0 20px -25px;
    padding: 50px 25px;
    color: #fff;
}

.gradient-magenta {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
    background: -moz-linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
    background: -webkit-linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
    background: -o-linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
    background: -ms-linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
    background: linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
}

div#header div.primaryNav div.dropdown > div > div.right {
    display: block;
    float: right;
    width: 570px;
}

div#header div.primaryNav div.dropdown div.column {
    float: left;
    width: 33.33%;
    padding: 0 0 20px 0;
}

div#header div.primaryNav div.dropdown div.column h4,
div#header div.primaryNav div.dropdown div.column ul {
    padding: 0 30px 0 0;
}

div#header div.primaryNav div.dropdown div.column h4 {
    font-family: Arial, Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #54575b;
}

div#header div.primaryNav div.dropdown div.column h4 a {
    cursor: pointer;
    text-decoration: none;
    color: #54575b;
}

div#header div.primaryNav div.dropdown div.column h4,
div#header div.primaryNav div.dropdown div.column ul {
    padding: 0 30px 0 0;
}

div#header div.primaryNav div.dropdown div.column ul > li {
    margin: 0 0 5px 0;
    list-style: none;
}

div#header div.primaryNav div.dropdown div.column ul > li a {
    cursor: pointer;
    text-decoration: none;
    color: #009cde;
}

div#header div.primaryNav div.dropdown div.column ul > li a:hover {
    text-decoration: underline;
}

div#header div.primaryNav div.dropdown ul.calls-to-action {
    padding: 20px 0 0 0;
    list-style: none;
    border-top: solid 1px #d5d8d8;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li {
    font-size: 14px;
    position: relative;
    float: left;
    width: 470px;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li a {
    cursor: pointer;
    text-decoration: none;
    color: #009cde;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li img {
    display: block;
    float: left;
    width: 176px;
    height: 102px;
    margin: 15px -191px 0 15px;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content {
    min-height: 102px;
    padding: 15px 15px 15px 206px;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content h3 {
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
    color: #54575b;
    margin: 0;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content a {
    cursor: pointer;
    text-decoration: none;
    color: #009cde;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content a:hover {
    text-decoration: underline;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content:last-child {
    margin: 0 0 20px 0;
    margin-bottom: 0;
}
