/*************************
  seemarkpower Css Header
 *************************/


/* Document
   ========================================================================== */

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* header
   ========================================================================== */

div#header {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background-color: rgba(245, 245, 245, 1);
}


/* header > wrapper */

div#header div.wrapper {
    width: 885px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px 0 240px;
}


/* header > wrapper > left */

div#header > div > div.left {
    float: left;
    width: 240px;
    margin-left: -240px;
    padding: 23px 0;
}


/* header > wrapper > left >img */

div#header > div > div.left img {
    display: block;
    margin: 0;
}


/* header > wrapper > right */

div#header > div > div.right {
    font-size: 12px;
    position: relative;
    float: right;
    width: 100%;
    height: 58px;
    padding: 15px 0;
    vertical-align: baseline;
}


/* header > wrapper > right > c-right */

div#header > div > div.right > .c-right {
    float: right;
}


/* header > wrapper > right > search */

div#header div.search {
    display: block;
    margin: -5px 0 0 15px;
}

div#header div.search .search {
    color: #000;
}


/* header > wrapper > right > search > input */

div#header div.search input#txtSearch {
    line-height: 22px;
    width: 258px;
    height: 32px;
    padding: 5px;
    border: 0 none;
}


/* header > wrapper > right > utility */

div#header div.utility {
    font-size: 12px;
    display: block;
    display: inline-block;
    float: right;
    min-height: 30px;
    padding-top: 3px;
    padding-right: 75px;
    vertical-align: middle;
    background: url(../img/bg-map.png) no-repeat right top;
}


/* header > wrapper > right > utility > utilityNav */

div#header div.utility ul.utilityNav {
    display: block;
    float: right;
    margin: 0;
    list-style: none;
}

div#header div.utility ul.utilityNav a,
div.utility a.language {
    cursor: pointer;
    color: #b3b3b3;
}


/* header > wrapper > right > utility > utilityNav > language */

div#header div.utility a.language {
    display: inline-block;
    float: right;
    padding: 0 0 0 0;
    cursor: pointer;
    text-decoration: none;
    color: #555;
}


/* header > wrapper > right > utility > utilityNav > li */

div#header div.primaryNav {
    margin-top: 15px;
}

div#header div.utility ul.utilityNav li {
    float: left;
    margin: 0 15px 0 0;
}


/* header > wrapper > right > primaryNav */

div#header div.primaryNav ul.primaryNav {
    position: relative;
    display: block;
    float: left;
    margin-right: -15px;
    margin-bottom: 0;
    padding: 0 0 0 15px;
    list-style: none;
}

div#header div.primaryNav ul.primaryNav > li {
    float: left;
    list-style: none;
}

div#header div.primaryNav ul.primaryNav > li > a {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: normal;
    line-height: 36px;
    display: block;
    height: 36px;
    padding: 0 15px 0 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #666;
}

div#header div.primaryNav ul.primaryNav > li:hover {
    -webkit-transition: background .8s;
    /* Safari 和 Chrome */
    -moz-transition: background .8s;
    /* Firefox 4 */
    -o-transition: background .8s;
    /* Opera */
    transition: background .8s;
    color: #fff;
    background: #ff4200;
}

div#header div.primaryNav ul.primaryNav > li:hover > a {
    color: #fff;
}


/* header > wrapper > right > primaryNav > dropdown */

div#header div.primaryNav div.dropdown {
    display: none;
}

div#header div.primaryNav div.dropdown.about {
    width: 570px;
}

div#header div.primaryNav div.dropdown.product {
    width: 1020px;
}

div#header div.primaryNav div.dropdown.technology {
    width: 1020px;
}

div#header div.primaryNav ul.primaryNav > li:hover div.dropdown,
div.primaryNav ul.primaryNav > li.hover div.dropdown {
    font-size: 13px;
    position: absolute;
    z-index: 1000;
    top: 36px;
    left: -244px;
    display: block;
    box-sizing: border-box;
    padding: 25px;
    border-top: solid 3px #ff4200;
    background: #fff;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, .4);
}

div#header div.primaryNav ul.primaryNav > li div.mask {
    position: fixed;
    z-index: 999;
    top: 88px;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

div#header div.primaryNav ul.primaryNav > li:hover div.mask {
    display: block;
}

div#header div.primaryNav div.dropdown > div > div.left {
    display: block;
    float: left;
    width: 330px;
    margin: 0 40px 0 0;
}

div#header div.primaryNav div.dropdown > div > div.left img {
    display: block;
    width: 330px;
    height: 220px;
}

div#header div.primaryNav div.dropdown p.overview {
    font-family: Arial, Sans-Serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.45;
    margin: 0 0 20px -25px;
    padding: 50px 25px;
    color: #fff;
}

.gradient-magenta {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
    background: -moz-linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
    background: -webkit-linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
    background: -o-linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
    background: -ms-linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
    background: linear-gradient(60deg, rgba(176, 0, 142, .9) 0%, rgba(131, 49, 119, .9) 100%) !important;
}

div#header div.primaryNav div.dropdown > div > div.right {
    display: block;
    float: right;
    width: 570px;
}

div#header div.primaryNav div.dropdown div.column {
    float: left;
    width: 33.33%;
    padding: 0 0 20px 0;
}

div#header div.primaryNav div.dropdown div.column h4,
div#header div.primaryNav div.dropdown div.column ul {
    padding: 0 30px 0 0;
}

div#header div.primaryNav div.dropdown div.column h4 {
    font-family: Arial, Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #54575b;
}

div#header div.primaryNav div.dropdown div.column h4 a {
    cursor: pointer;
    text-decoration: none;
    color: #54575b;
}

div#header div.primaryNav div.dropdown div.column h4,
div#header div.primaryNav div.dropdown div.column ul {
    padding: 0 30px 0 0;
}

div#header div.primaryNav div.dropdown div.column ul > li {
    margin: 0 0 5px 0;
    list-style: none;
}

div#header div.primaryNav div.dropdown div.column ul > li a {
    cursor: pointer;
    text-decoration: none;
    color: #b70005;
}

div#header div.primaryNav div.dropdown div.column ul > li a:hover {
    text-decoration: underline;
}

div#header div.primaryNav div.dropdown ul.calls-to-action {
    padding: 20px 0 0 0;
    list-style: none;
    border-top: solid 1px #d5d8d8;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li {
    font-size: 14px;
    position: relative;
    float: left;
    width: 470px;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li a {
    cursor: pointer;
    text-decoration: none;
    color: #b70005;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li img {
    display: block;
    float: left;
    width: 176px;
    height: 102px;
    margin: 15px -191px 0 15px;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content {
    min-height: 102px;
    padding: 15px 15px 15px 206px;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content h3 {
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    color: #54575b;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content a {
    cursor: pointer;
    text-decoration: none;
    color: #b70005;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content a:hover {
    text-decoration: underline;
}

div#header div.primaryNav div.dropdown ul.calls-to-action > li div.content:last-child {
    margin: 0 0 20px 0;
    margin-bottom: 0;
}

.navSub {
    width: 100%;
}

.navSub .navimg {
    float: right;
    width: 335px;
}

.navSub .navimg p {
    font-size: 13px;
    margin-top: 10px;
}

.navSub .navimg img {
    width: 335px;
    height: 208px;
}

.navSub dl {
    line-height: 1.3;
    position: relative;
    z-index: 997;
    float: left;
    width: 135px;
}

.navSub:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 175px;
    content: '';
    background: #ededed;
}

.navSub dl a {
    display: block;
    color: #555;
}

.navSub dt {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

.navSub dd {
    font-size: 15px;
    margin-bottom: 8px;
    margin-left: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

.navSub5 .justify:before,
.navSub5 dl:first-child:before,
.navSub5 dl:first-child:after {
    position: absolute;
    overflow: hidden;
    width: 1px;
    content: '';
    background: #ddd;
}

.navSub dl a,
.navSub5 dd a {
    text-decoration: none;
    color: #555;
}

.navSub dl a:hover,
.navSub5 dd a:hover {
    color: #ff4200;
}


/* .navSub dt a:before , .navSub dd a:before{ content:'\e650'; padding-right: 5px; font-family: icomoon; font-size: 14px;} */

.navSub5 {
    width: 980px;
}

.navSub5 dl {
    margin-left: 25px;
}

.navSub5 dl:first-child {
    margin-left: 0;
}

.subGray {
    float: left;
}

.navSub.navSub5:before {
    width: 655px;
}
