 <link rel="stylesheet" type="text/css" href="/stylesheets/carouselImg.css">

 <body>

<!-- doc -->
<% include ../common/layout.html %><!-- /doc -->

<!-- header -->
<% include ../common/header.html %><!-- /header -->

<!-- carouselImg -->
<% include ../common/content-carouselImg.html %><!-- /carouselImg -->

<!-- footer -->
<% include ../common/footer.html %><!-- /footer -->

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
 </body>
</html>