<!-- Header -->
<div id="header">
    <div class="wrapper clearfix">
        <div class="left">
            <a href="/">
                <img id="ctl11_ppHeader_imgLogo" title="PowerLink" class="laptop" src="/img/logo.png" alt="PowerLink" style="border-width: 0px;">
            </a>
        </div>
        <div class="right">
            <div class="c-right clearfix">
                <!-- language -->
                <div class="utility clearfix">
                    <a id="ctl11_ppHeader_hlLanguage" class="language" href="http://cn.powerlinkworld.com">
                        <img id="ctl11_ppHeader_imgCountry" src="/img/cn.png" alt="PowerLink" style="border-width: 0px;">
                        <span>中文</span>
                    </a>
                    <a id="A1" class="language" href="http://www.powerlinkworld.com" style="margin-right:10px;">
                        <img id="Img1" src="/img/gb.png" alt="PowerLink" style="border-width: 0px;">
                        <span>English</span>
                    </a>
                </div>
                <!-- /language -->
                <!-- search -->
                <div class="search">
                    <input name="txtSearch" type="text" id="txtSearch" title="seemakpower" class="default" placeholder="搜索产品...">
                </div>
                <!-- /search -->
            </div>
            <!-- primaryNav -->
            <div class="primaryNav clearfix">
                <ul class="primaryNav clearfix">
                    <!-- nav list -->
                    <li>
                        <a id="" href="">关于西马克</a>
                        <div class="dropdown about">
                            <div class="clearfix">
                                <div class="navSub clearfix sub1">
                                    <dl>
                                        <dt><a href="/about/index">关于西马克</a></dt>
                                        <dt><a href="/about/honor">企业荣誉</a></dt>
                                        <dt><a href="/about/info">展会信息</a></dt>
                                        <dt><a href="/about/cnews">公司新闻</a></dt>
                                        <dt><a href="/about/inews">行业新闻</a></dt>
                                    </dl>
                                    <div class="navimg">
                                        <a href="/about/about-baifa.html"><img src="/img/navimg13.jpg" alt=""></a>
                                        <p> 无锡百发电机有限公司坐落在当今世界制造业聚焦的热土----江苏无锡国家高新区，拥有在亚洲...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a id="" href="">产品中心</a>
                        <div class="dropdown product">
                            <div class="clearfix">
                                <div class="navSub5 navSub clearfix">
                                    <div class="subGray">
                                        <dl class="box">
                                            <dt>
                                                <a href="/products/List-Brands.html">按发动机品牌
                                    </a>
                                            </dt>
                                            <dd><a href="/products/Volvo.html">百发-沃尔沃系列</a></dd>
                                            <dd><a href="/products/Cummins.html">百发-康明斯系列</a></dd>
                                            <dd><a href="/products/Perkins.html">百发-帕金斯系列</a></dd>
                                            <dd><a href="/products/MTU.html">百发-奔驰MTU系列</a></dd>
                                            <dd><a href="/products/Scania.html">百发-斯堪尼亚系列</a></dd>
                                            <dd><a href="/products/Mitsubishi.html">百发-三菱系列</a></dd>
                                        </dl>
                                        <dl class="box">
                                            <dt>
                                                <a href="/products/List-Power.html">按机组功率
                                    </a>
                                            </dt>
                                            <dd><a href="/products/10KW-200KW.html">10KVA-200KVA</a></dd>
                                            <dd><a href="/products/200KW-600KW.html">200KVA-600KVA</a></dd>
                                            <dd><a href="/products/600KW-1000KW.html">600KVA-1000KVA</a></dd>
                                            <dd><a href="/products/1000KW以上.html">1000KVA以上</a></dd>
                                        </dl>
                                        <dl class="box">
                                            <dt>
                                                <a href="/products/List-Structure.html">按结构
                                    </a>
                                            </dt>
                                            <dd><a href="/products/Soundproof.html">静音型发电机组</a></dd>
                                            <dd><a href="/products/Trailer.html">移动拖车型发电机组</a></dd>
                                            <dd><a href="/products/Containerized.html">集装箱型发电机组</a></dd>
                                        </dl>
                                        <dl class="box">
                                            <dt>
                                                <a href="/products/List-Special.html">特殊型机组
                                    </a>
                                            </dt>
                                            <dd><a href="/products/Gas.html">天燃气发电机组</a></dd>
                                            <dd><a href="/products/High-Voltage.html">高压输出型发电机组</a></dd>
                                            <dd><a href="/products/Lighting-Tower.html">移动灯塔机组</a></dd>
                                        </dl>
                                    </div>
                                    <div class="navimg">
                                        <a href="/products/products.html"><img src="/img/navimg5.jpg" alt=""></a>
                                        <p> 安静，可靠，高效 ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a id="" href="">技术中心</a>
                        <div class="dropdown technology">
                            <div class="clearfix">
                                <div class="navSub clearfix navSub5">
                                    <div class="subGray">
                                        <dl class="box">
                                            <dt>
                                                <a href="/parts-service/Parts.html">零配件
                                    </a>
                                            </dt>
                                            <dd><a href="/parts-service/generator-spare-parts.html">发电机组零配件</a></dd>
                                            <dd><a href="/parts-service/control-system.html">控制系统</a></dd>
                                            <dd><a href="/parts-service/auto-transfer-system.html">自动负载转换屏ATS</a></dd>
                                            <dd><a href="/parts-service/auto-parallel-system.html">自动并机控制系统</a></dd>
                                        </dl>
                                        <dl class="box">
                                            <dt>
                                                <a href="/parts-service/service-maintenance.html">售后服务
                                    </a>
                                            </dt>
                                            <dd><a href="/parts-service/warranty-service.html">保修服务</a></dd>
                                            <dd><a href="/parts-service/Repair-Service.html">服务与维修</a></dd>
                                        </dl>
                                        <dl class="box">
                                            <dt>
                                                <a href="/parts-service/Training.html">培训服务
                                    </a>
                                            </dt>
                                            <dd><a href="/parts-service/user-training.html">用户培训</a></dd>
                                            <dd><a href="/parts-service/distributor-training.html">经销商培训</a></dd>
                                        </dl>
                                        <dl class="box">
                                            <dt>
                                                <a href="/parts-service/Downloads.html">资料下载
                                    </a>
                                            </dt>
                                            <dd><a href="/parts-service/products-data-download.html">百发产品参数与信息</a></dd>
                                            <dd><a href="/parts-service/products-brochure.html">百发公司及产品宣传册</a></dd>
                                            <dd><a href="/parts-service/user-manual.html">百发用户手册</a></dd>
                                        </dl>
                                    </div>
                                    <div class="navimg">
                                        <a href="/parts-service/Service.html"><img src="/img/navimg2.jpg" alt=""></a>
                                        <p> 请立即选择百发产品。 您将不断得到坦率，可靠和周到的支持 ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a id="" href="">联系我们</a>
                    </li>
                    <!-- /nav list -->
                </ul>
            </div>
            <!-- /primaryNav -->
        </div>
    </div>
</div>
<!-- /Header -->
