<!-- Header -->
<div id="header">
    <div class="wrapper clearfix">
        <div class="left">
            <a href="/">
                <img id="ctl11_ppHeader_imgLogo" title="PowerLink" class="laptop" src="/img/logo.png" alt="PowerLink" style="border-width: 0px;">
            </a>
        </div>
        <div class="right">
            <!-- search -->
            <div class="search">
                <input name="txtSearch" type="text" id="txtSearch" title="seemakpower" class="default">
                <a id="txtSearch" class="search" href="#">搜索</a>
            </div>
            <!-- /search -->
            <!-- language -->
            <div class="utility">
                <a id="ctl11_ppHeader_hlLanguage" class="language" href="http://cn.powerlinkworld.com">
                    <img id="ctl11_ppHeader_imgCountry" src="/img/cn.png" alt="PowerLink" style="border-width: 0px;">
                    <span>中文</span>
                </a>
                <a id="A2" class="language" href="http://es.powerlinkworld.com" style="margin-right:10px;">
                    <img id="Img2" src="/img/es.png" alt="PowerLink" style="border-width: 0px;">
                    <span>Español</span>
                </a>
                <a id="A1" class="language" href="http://www.powerlinkworld.com" style="margin-right:10px;">
                    <img id="Img1" src="/img/gb.png" alt="PowerLink" style="border-width: 0px;">
                    <span>English</span>
                </a>
                <a id="A1" class="language" href="http://ru.powerlinkworld.com" style="margin-right:10px;">
                    <img id="Img1" src="/img/ru.png" alt="PowerLink" style="border-width: 0px;">
                    <span>русский</span>
                </a>
                <!-- utilityNav -->
                <ul id="" class="utilityNav clearfix">
                    <li class="first"><a href="" target="_blank">关于我们</a></li>
                    <li><a href="" target="_blank">与我们联系</a></li>
                </ul>
                <!-- /utilityNav -->
            </div>
            <!-- /language -->
            <!-- primaryNav -->
            <div class="primaryNav clearfix">
                <ul class="primaryNav clearfix">
                    <!-- nav list -->
                    <li>
                        <a id="" href="">为何选择西马克</a>
                        <div class="dropdown">
                            <div class="clearfix">
                                <div class="left clearfix">
                                    <p class="overview gradient-magenta">PowerLink深刻了解市场需求,为客户提供所需产品:标准产品、细分市场产品、定制式产品。</p>
                                </div>
                                <div class="right clearfix">
                                    <div class="column clearfix">
                                        <h4><a href="/about/01/main.aspx" title="PowerLink">PowerLink 的优势</a></h4>
                                        <ul>
                                            <li><a href="/about/01/OurCause.aspx" title="PowerLink">我们的事业</a></li>
                                            <li><a href="/about/01/OurMethod.aspx" title="PowerLink">我们的方法</a></li>
                                            <li><a href="/about/01/OurSolution.aspx" title="PowerLink">我们解决的问题</a></li>
                                            <li><a href="/about/01/OurCase.aspx" title="PowerLink">客户案例</a></li>
                                            <li><a href="/about/01/OurInnovation.aspx" title="PowerLink">品牌生命力</a> </li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/02/main.aspx" title="PowerLink">公司信息</a></h4>
                                        <ul>
                                            <li><a href="/about/02/GroupProfile.aspx" title="PowerLink">集团概况</a> </li>
                                            <li><a href="/about/02/Mission.aspx" title="PowerLink">使命与价值观</a> </li>
                                            <li><a href="/about/02/Organization.aspx" title="PowerLink">组织</a> </li>
                                            <li><a href="/about/02/Hr.aspx" title="PowerLink">职业发展</a> </li>
                                            <li><a href="/about/02/Rsponsibility.aspx" title="PowerLink">企业责任</a></li>
                                            <li><a href="/about/02/Supplier.aspx" title="PowerLink">供应链网络</a></li>
                                            <li><a href="/about/02/Publication.aspx" title="PowerLink">公司刊物</a></li>
                                            <li><a href="/about/02/Event.aspx" title="PowerLink">发展历程</a></li>
                                            <li><a href="/about/02/Contact.aspx" title="PowerLink">联系我们</a></li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/03/main.aspx" title="PowerLink">新闻和媒体</a></h4>
                                        <ul>
                                            <li><a href="/about/03/CompanyNews.aspx" title="PowerLink">企业新闻</a></li>
                                            <li><a href="/about/03/ProductNews.aspx" title="PowerLink">产品新闻</a></li>
                                            <li><a href="/about/03/Social.aspx" title="PowerLink">社交媒体目录</a></li>
                                            <li><a href="/about/03/Video.aspx" title="PowerLink">PowerLink视频</a></li>
                                            <li><a href="/about/03/post.aspx" title="PowerLink">海报</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="calls-to-action clearfix">
                                <li>
                                    <a title="PowerLink" href="/about/02/GroupProfile.aspx">
                                        <img alt="PowerLink" src="/img/PowerLinkSH.jpg" style="width: 176px; height: 102px;"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/GroupProfile.aspx">PowerLink概况</a></h3>
                                        <p>已有超过80,000台机组在PowerLink上海工厂制造并在世界各地使用...</p>
                                    </div>
                                </li>
                                <li>
                                    <a title="PowerLink" href="/about/02/Publication.aspx">
                                        <img style="width: 176px; height: 102px;" src="/img/PowerLinkUK.jpg" alt="PowerLink"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/Publication.aspx">PowerLink 内部刊物</a></h3>
                                        <p>这里是展示员工风采的舞台，这里是挥毫泼墨的殿堂，这里有PowerLink企业文化的集中展示，也有图文并茂的市场讯息...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="" href="">解决方案</a>
                        <div class="dropdown">
                            <div class="clearfix">
                                <div class="left clearfix">
                                    <p class="overview gradient-blue">PowerLink 全球服务部门旨在帮助世界领先的制造企业实现 PowerLink 解决方案的承诺。</p>
                                </div>
                                <div class="right clearfix">
                                    <div class="column clearfix">
                                        <h4><a href="/Solution/03/main.aspx" title="PowerLink">燃气能源解决方案</a></h4>
                                        <ul>
                                            <li><a href="/solution/03/01.aspx" target="_blank" title="PowerLink">工业设施</a></li>
                                            <li><a href="/solution/03/02.aspx" target="_blank">商业设施</a></li>
                                            <li><a href="/solution/03/03.aspx" target="_blank">现代农场</a></li>
                                            <li><a href="/solution/03/04.aspx" target="_blank">圾填埋场和污水处理</a></li>
                                            <li><a href="/solution/03/05.aspx" target="_blank">煤矿油田</a></li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/Solution/01/main.aspx" title="PowerLink">发电机组解决方案</a></h4>
                                        <ul>
                                            <li><a href="/Solution/01/01.aspx" title="PowerLink">建筑楼宇</a></li>
                                            <li><a href="/Solution/01/02.aspx" title="PowerLink">医院</a></li>
                                            <li><a href="/Solution/01/03.aspx" title="PowerLink">火车站</a></li>
                                            <li><a href="/Solution/01/04.aspx" title="PowerLink">银行</a></li>
                                            <li><a href="/Solution/01/05.aspx" title="PowerLink">通信行业</a></li>
                                            <li><a href="/Solution/01/06.aspx" title="PowerLink">油田</a></li>
                                            <li><a href="/Solution/01/07.aspx" title="PowerLink">户外工程</a> </li>
                                            <li><a href="/Solution/01/08.aspx" title="PowerLink">矿山 </a> </li>
                                            <li><a href="/Solution/01/09.aspx" title="PowerLink">发电厂</a> </li>
                                            <li><a href="/Solution/01/10.aspx" title="PowerLink">军队</a> </li>
                                            <li><a href="/Solution/01/11.aspx" title="PowerLink">野外主用电源</a> </li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/Solution/02/main.aspx" title="PowerLink">空气压缩机解决方案</a></h4>
                                        <ul>
                                            <li><a href="/Solution/02/01.aspx" title="PowerLink">汽车制造</a></li>
                                            <li><a href="/Solution/02/02.aspx" title="PowerLink">采矿业</a></li>
                                            <li><a href="/Solution/02/03.aspx" title="PowerLink">工厂维护</a></li>
                                            <li><a href="/Solution/02/04.aspx" title="PowerLink">化工厂</a></li>
                                            <li><a href="/Solution/02/05.aspx" title="PowerLink">矿石处理</a></li>
                                            <li><a href="/Solution/02/06.aspx" title="PowerLink">电子行业</a></li>
                                            <li><a href="/Solution/02/07.aspx" title="PowerLink">炼油厂</a></li>
                                            <li><a href="/Solution/02/08.aspx" title="PowerLink">药品制造</a></li>
                                            <li><a href="/Solution/02/09.aspx" title="PowerLink">管道服务</a></li>
                                            <li><a href="/Solution/02/10.aspx" title="PowerLink">发电厂</a></li>
                                            <li><a href="/Solution/02/11.aspx" title="PowerLink">铁路</a></li>
                                            <li><a href="/Solution/02/12.aspx" title="PowerLink">造纸厂</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="calls-to-action clearfix">
                                <li>
                                    <a title="PowerLink" href="/Solution/01/main.aspx">
                                        <img src="/img/PLHome_S_001.jpg" alt="PowerLink"></a>
                                    <div class="content">
                                        <h3><a href="/Solution/01/main.aspx" title="PowerLink">PowerLink柴油能源解决方案</a></h3>
                                        <p>备用电源解决方案、小型电站解决方案、户外工程动力解决方案、夜间户外作业照明</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="/Solution/03/main.aspx" title="PowerLink">
                                        <img alt="PowerLink" src="/img/PLHome_S_002.jpg"></a>
                                    <div class="content">
                                        <h3><a href="/Solution/03/main.aspx" title="PowerLink">PowerLink燃气能源解决方案</a></h3>
                                        <p>热电联供分布式能源、沼气发电解决方案、节能减排解决方案、现代农业能源解决方案</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="" href="">产品</a>
                        <div class="dropdown">
                            <div class="clearfix">
                                <div class="left clearfix">
                                    <p class="overview gradient-magenta">PowerLink深刻了解市场需求,为客户提供所需产品:标准产品、细分市场产品、定制式产品。</p>
                                </div>
                                <div class="right clearfix">
                                    <div class="column clearfix">
                                        <h4><a href="/about/01/main.aspx" title="PowerLink">PowerLink 的优势</a></h4>
                                        <ul>
                                            <li><a href="/about/01/OurCause.aspx" title="PowerLink">我们的事业</a></li>
                                            <li><a href="/about/01/OurMethod.aspx" title="PowerLink">我们的方法</a></li>
                                            <li><a href="/about/01/OurSolution.aspx" title="PowerLink">我们解决的问题</a></li>
                                            <li><a href="/about/01/OurCase.aspx" title="PowerLink">客户案例</a></li>
                                            <li><a href="/about/01/OurInnovation.aspx" title="PowerLink">品牌生命力</a> </li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/02/main.aspx" title="PowerLink">公司信息</a></h4>
                                        <ul>
                                            <li><a href="/about/02/GroupProfile.aspx" title="PowerLink">集团概况</a> </li>
                                            <li><a href="/about/02/Mission.aspx" title="PowerLink">使命与价值观</a> </li>
                                            <li><a href="/about/02/Organization.aspx" title="PowerLink">组织</a> </li>
                                            <li><a href="/about/02/Hr.aspx" title="PowerLink">职业发展</a> </li>
                                            <li><a href="/about/02/Rsponsibility.aspx" title="PowerLink">企业责任</a></li>
                                            <li><a href="/about/02/Supplier.aspx" title="PowerLink">供应链网络</a></li>
                                            <li><a href="/about/02/Publication.aspx" title="PowerLink">公司刊物</a></li>
                                            <li><a href="/about/02/Event.aspx" title="PowerLink">发展历程</a></li>
                                            <li><a href="/about/02/Contact.aspx" title="PowerLink">联系我们</a></li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/03/main.aspx" title="PowerLink">新闻和媒体</a></h4>
                                        <ul>
                                            <li><a href="/about/03/CompanyNews.aspx" title="PowerLink">企业新闻</a></li>
                                            <li><a href="/about/03/ProductNews.aspx" title="PowerLink">产品新闻</a></li>
                                            <li><a href="/about/03/Social.aspx" title="PowerLink">社交媒体目录</a></li>
                                            <li><a href="/about/03/Video.aspx" title="PowerLink">PowerLink视频</a></li>
                                            <li><a href="/about/03/post.aspx" title="PowerLink">海报</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="calls-to-action clearfix">
                                <li>
                                    <a title="PowerLink" href="/about/02/GroupProfile.aspx">
                                        <img alt="PowerLink" src="/img/PowerLinkSH.jpg" style="width: 176px; height: 102px;"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/GroupProfile.aspx">PowerLink概况</a></h3>
                                        <p>已有超过80,000台机组在PowerLink上海工厂制造并在世界各地使用...</p>
                                    </div>
                                </li>
                                <li>
                                    <a title="PowerLink" href="/about/02/Publication.aspx">
                                        <img style="width: 176px; height: 102px;" src="/img/PowerLinkUK.jpg" alt="PowerLink"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/Publication.aspx">PowerLink 内部刊物</a></h3>
                                        <p>这里是展示员工风采的舞台，这里是挥毫泼墨的殿堂，这里有PowerLink企业文化的集中展示，也有图文并茂的市场讯息...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="" href="">服务与配件</a>
                        <div class="dropdown">
                            <div class="clearfix">
                                <div class="left clearfix">
                                    <p class="overview gradient-magenta">PowerLink深刻了解市场需求,为客户提供所需产品:标准产品、细分市场产品、定制式产品。</p>
                                </div>
                                <div class="right clearfix">
                                    <div class="column clearfix">
                                        <h4><a href="/about/01/main.aspx" title="PowerLink">PowerLink 的优势</a></h4>
                                        <ul>
                                            <li><a href="/about/01/OurCause.aspx" title="PowerLink">我们的事业</a></li>
                                            <li><a href="/about/01/OurMethod.aspx" title="PowerLink">我们的方法</a></li>
                                            <li><a href="/about/01/OurSolution.aspx" title="PowerLink">我们解决的问题</a></li>
                                            <li><a href="/about/01/OurCase.aspx" title="PowerLink">客户案例</a></li>
                                            <li><a href="/about/01/OurInnovation.aspx" title="PowerLink">品牌生命力</a> </li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/02/main.aspx" title="PowerLink">公司信息</a></h4>
                                        <ul>
                                            <li><a href="/about/02/GroupProfile.aspx" title="PowerLink">集团概况</a> </li>
                                            <li><a href="/about/02/Mission.aspx" title="PowerLink">使命与价值观</a> </li>
                                            <li><a href="/about/02/Organization.aspx" title="PowerLink">组织</a> </li>
                                            <li><a href="/about/02/Hr.aspx" title="PowerLink">职业发展</a> </li>
                                            <li><a href="/about/02/Rsponsibility.aspx" title="PowerLink">企业责任</a></li>
                                            <li><a href="/about/02/Supplier.aspx" title="PowerLink">供应链网络</a></li>
                                            <li><a href="/about/02/Publication.aspx" title="PowerLink">公司刊物</a></li>
                                            <li><a href="/about/02/Event.aspx" title="PowerLink">发展历程</a></li>
                                            <li><a href="/about/02/Contact.aspx" title="PowerLink">联系我们</a></li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/03/main.aspx" title="PowerLink">新闻和媒体</a></h4>
                                        <ul>
                                            <li><a href="/about/03/CompanyNews.aspx" title="PowerLink">企业新闻</a></li>
                                            <li><a href="/about/03/ProductNews.aspx" title="PowerLink">产品新闻</a></li>
                                            <li><a href="/about/03/Social.aspx" title="PowerLink">社交媒体目录</a></li>
                                            <li><a href="/about/03/Video.aspx" title="PowerLink">PowerLink视频</a></li>
                                            <li><a href="/about/03/post.aspx" title="PowerLink">海报</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="calls-to-action clearfix">
                                <li>
                                    <a title="PowerLink" href="/about/02/GroupProfile.aspx">
                                        <img alt="PowerLink" src="/img/PowerLinkSH.jpg" style="width: 176px; height: 102px;"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/GroupProfile.aspx">PowerLink概况</a></h3>
                                        <p>已有超过80,000台机组在PowerLink上海工厂制造并在世界各地使用...</p>
                                    </div>
                                </li>
                                <li>
                                    <a title="PowerLink" href="/about/02/Publication.aspx">
                                        <img style="width: 176px; height: 102px;" src="/img/PowerLinkUK.jpg" alt="PowerLink"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/Publication.aspx">PowerLink 内部刊物</a></h3>
                                        <p>这里是展示员工风采的舞台，这里是挥毫泼墨的殿堂，这里有PowerLink企业文化的集中展示，也有图文并茂的市场讯息...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="" href="">社区</a>
                        <div class="dropdown">
                            <div class="clearfix">
                                <div class="left clearfix">
                                    <p class="overview gradient-magenta">PowerLink深刻了解市场需求,为客户提供所需产品:标准产品、细分市场产品、定制式产品。</p>
                                </div>
                                <div class="right clearfix">
                                    <div class="column clearfix">
                                        <h4><a href="/about/01/main.aspx" title="PowerLink">PowerLink 的优势</a></h4>
                                        <ul>
                                            <li><a href="/about/01/OurCause.aspx" title="PowerLink">我们的事业</a></li>
                                            <li><a href="/about/01/OurMethod.aspx" title="PowerLink">我们的方法</a></li>
                                            <li><a href="/about/01/OurSolution.aspx" title="PowerLink">我们解决的问题</a></li>
                                            <li><a href="/about/01/OurCase.aspx" title="PowerLink">客户案例</a></li>
                                            <li><a href="/about/01/OurInnovation.aspx" title="PowerLink">品牌生命力</a> </li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/02/main.aspx" title="PowerLink">公司信息</a></h4>
                                        <ul>
                                            <li><a href="/about/02/GroupProfile.aspx" title="PowerLink">集团概况</a> </li>
                                            <li><a href="/about/02/Mission.aspx" title="PowerLink">使命与价值观</a> </li>
                                            <li><a href="/about/02/Organization.aspx" title="PowerLink">组织</a> </li>
                                            <li><a href="/about/02/Hr.aspx" title="PowerLink">职业发展</a> </li>
                                            <li><a href="/about/02/Rsponsibility.aspx" title="PowerLink">企业责任</a></li>
                                            <li><a href="/about/02/Supplier.aspx" title="PowerLink">供应链网络</a></li>
                                            <li><a href="/about/02/Publication.aspx" title="PowerLink">公司刊物</a></li>
                                            <li><a href="/about/02/Event.aspx" title="PowerLink">发展历程</a></li>
                                            <li><a href="/about/02/Contact.aspx" title="PowerLink">联系我们</a></li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/03/main.aspx" title="PowerLink">新闻和媒体</a></h4>
                                        <ul>
                                            <li><a href="/about/03/CompanyNews.aspx" title="PowerLink">企业新闻</a></li>
                                            <li><a href="/about/03/ProductNews.aspx" title="PowerLink">产品新闻</a></li>
                                            <li><a href="/about/03/Social.aspx" title="PowerLink">社交媒体目录</a></li>
                                            <li><a href="/about/03/Video.aspx" title="PowerLink">PowerLink视频</a></li>
                                            <li><a href="/about/03/post.aspx" title="PowerLink">海报</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="calls-to-action clearfix">
                                <li>
                                    <a title="PowerLink" href="/about/02/GroupProfile.aspx">
                                        <img alt="PowerLink" src="/img/PowerLinkSH.jpg" style="width: 176px; height: 102px;"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/GroupProfile.aspx">PowerLink概况</a></h3>
                                        <p>已有超过80,000台机组在PowerLink上海工厂制造并在世界各地使用...</p>
                                    </div>
                                </li>
                                <li>
                                    <a title="PowerLink" href="/about/02/Publication.aspx">
                                        <img style="width: 176px; height: 102px;" src="/img/PowerLinkUK.jpg" alt="PowerLink"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/Publication.aspx">PowerLink 内部刊物</a></h3>
                                        <p>这里是展示员工风采的舞台，这里是挥毫泼墨的殿堂，这里有PowerLink企业文化的集中展示，也有图文并茂的市场讯息...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="" href="">支持</a>
                        <div class="dropdown">
                            <div class="clearfix">
                                <div class="left clearfix">
                                    <p class="overview gradient-magenta">PowerLink深刻了解市场需求,为客户提供所需产品:标准产品、细分市场产品、定制式产品。</p>
                                </div>
                                <div class="right clearfix">
                                    <div class="column clearfix">
                                        <h4><a href="/about/01/main.aspx" title="PowerLink">PowerLink 的优势</a></h4>
                                        <ul>
                                            <li><a href="/about/01/OurCause.aspx" title="PowerLink">我们的事业</a></li>
                                            <li><a href="/about/01/OurMethod.aspx" title="PowerLink">我们的方法</a></li>
                                            <li><a href="/about/01/OurSolution.aspx" title="PowerLink">我们解决的问题</a></li>
                                            <li><a href="/about/01/OurCase.aspx" title="PowerLink">客户案例</a></li>
                                            <li><a href="/about/01/OurInnovation.aspx" title="PowerLink">品牌生命力</a> </li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/02/main.aspx" title="PowerLink">公司信息</a></h4>
                                        <ul>
                                            <li><a href="/about/02/GroupProfile.aspx" title="PowerLink">集团概况</a> </li>
                                            <li><a href="/about/02/Mission.aspx" title="PowerLink">使命与价值观</a> </li>
                                            <li><a href="/about/02/Organization.aspx" title="PowerLink">组织</a> </li>
                                            <li><a href="/about/02/Hr.aspx" title="PowerLink">职业发展</a> </li>
                                            <li><a href="/about/02/Rsponsibility.aspx" title="PowerLink">企业责任</a></li>
                                            <li><a href="/about/02/Supplier.aspx" title="PowerLink">供应链网络</a></li>
                                            <li><a href="/about/02/Publication.aspx" title="PowerLink">公司刊物</a></li>
                                            <li><a href="/about/02/Event.aspx" title="PowerLink">发展历程</a></li>
                                            <li><a href="/about/02/Contact.aspx" title="PowerLink">联系我们</a></li>
                                        </ul>
                                    </div>
                                    <div class="column clearfix">
                                        <h4><a href="/about/03/main.aspx" title="PowerLink">新闻和媒体</a></h4>
                                        <ul>
                                            <li><a href="/about/03/CompanyNews.aspx" title="PowerLink">企业新闻</a></li>
                                            <li><a href="/about/03/ProductNews.aspx" title="PowerLink">产品新闻</a></li>
                                            <li><a href="/about/03/Social.aspx" title="PowerLink">社交媒体目录</a></li>
                                            <li><a href="/about/03/Video.aspx" title="PowerLink">PowerLink视频</a></li>
                                            <li><a href="/about/03/post.aspx" title="PowerLink">海报</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="calls-to-action clearfix">
                                <li>
                                    <a title="PowerLink" href="/about/02/GroupProfile.aspx">
                                        <img alt="PowerLink" src="/img/PowerLinkSH.jpg" style="width: 176px; height: 102px;"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/GroupProfile.aspx">PowerLink概况</a></h3>
                                        <p>已有超过80,000台机组在PowerLink上海工厂制造并在世界各地使用...</p>
                                    </div>
                                </li>
                                <li>
                                    <a title="PowerLink" href="/about/02/Publication.aspx">
                                        <img style="width: 176px; height: 102px;" src="/img/PowerLinkUK.jpg" alt="PowerLink"></a>
                                    <div class="content">
                                        <h3><a title="PowerLink" href="/about/02/Publication.aspx">PowerLink 内部刊物</a></h3>
                                        <p>这里是展示员工风采的舞台，这里是挥毫泼墨的殿堂，这里有PowerLink企业文化的集中展示，也有图文并茂的市场讯息...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- /nav list -->
                </ul>
            </div>
            <!-- /primaryNav -->
        </div>
    </div>
</div>
<!-- /Header -->
