<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">

<body>
    <!-- doc -->
    <% include ../common/layout.html %>
        <!-- /doc -->
        <!-- header -->
        <% include ../common/header.html %>
            <!-- /header -->
            <!-- content -->
            <div class="inbanner"></div>
            <div class="warp">
                <div class="lnav">
                    <div class="ltop">
                        关于西马克
                    </div>
                    <ul>
                        <li class="cdlist">
                            <a href="/about/index" class="aon"><img src="/img/lbg1.jpg">企业简介</a>
                            <ul style="display:block;">
                            </ul>
                        </li>
                        <li class="cdlist">
                            <a href="/about/honor"><img src="/img/lbg0.jpg">企业荣誉</a>
                            <ul>
                            </ul>
                        </li>
                        <li class="cdlist">
                            <a href="/about/info"><img src="/img/lbg0.jpg">展会信息</a>
                            <ul>
                            </ul>
                        </li>
                        <li class="cdlist">
                            <a href="/about/cnews"><img src="/img/lbg0.jpg">公司新闻</a>
                            <ul>
                            </ul>
                        </li>
                        <li class="cdlist">
                            <a href="/about/inews"><img src="/img/lbg0.jpg">行业新闻</a>
                            <ul>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="rcontent clearfix">
                    <div class="location"><strong>关于西马克</strong>
                        <span>您当前的位置： <a href="/">首页</a> &nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/aspx/default/about.aspx?classid=174">关于西马克</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;企业简介</span>
                    </div>
                    <div class="nnconent">
                        <div class="nntitle">
                            <p><strong>企业简介</strong></p>
                            <!--<p><span>发布时间： 2013-07-27  09：45:20</span></p>-->
                        </div>
                        <div class="newscontent">
                            <p>
                                <span style="font-size: 12px"><span style="line-height: 170%"><span style="font-family: 宋体"><span style="color: #696969">&nbsp;&nbsp;&nbsp; 神驰机电股份有限公司（简称“神驰机电”）历经20余年的积淀，已逐步成长为掌握电机及通用汽油机核心技术、拥有从关键零部件到整机的完整产业链、在全球小型发电机领域享有美誉、业务遍布海内外的现代化企业。</span></span>
                                </span>
                                </span>
                            </p>
                            <p>
                                <span style="font-size: 12px"><span style="line-height: 170%"><span style="font-family: 宋体"><span style="color: #696969">&nbsp;&nbsp;&nbsp; 公司下属7家全资子公司和2家全资境外孙公司，拥有员工1200余人、建筑面积10余万平方米、年产120万台小型发电机和13万台通用汽油机的产能，并先后获得专利200余项，通过ISO9001和TS16949质量体系认证及UL、EPA、CARB、CE、RoHS、GS、CSA、EMC等多项产品认证。</span></span>
                                </span>
                                </span>
                            </p>
                            <p>
                                <span style="font-size: 12px"><span style="line-height: 170%"><span style="font-family: 宋体"><span style="color: #696969">&nbsp;&nbsp;&nbsp; 在营销网络建设方面，公司已经初步完成国内外市场布局。公司拥有166家国内客户，同时与美国BS、美国Generac、意大利Pramac、日本Dashin等全球著名通机厂商建立了战略合作关系，已与300多个境外经销商建立了合作关系，销售网络覆盖全球50多个国家和地区。在自主品牌拓展方面，受益于代工业务积累的良好口碑，近年来自主品牌终端产品销售收入持续增长、占比不断提高。</span></span>
                                </span>
                                </span>
                            </p>
                            <p>
                                <span style="font-size: 12px"><span style="line-height: 170%"><span style="font-family: 宋体"><span style="color: #696969">&nbsp;&nbsp;&nbsp; 未来，公司将继续围绕电机、动力技术培育核心竞争力，打造电机、通用汽油机<font color="#696969">、空气压缩机</font>、通机终端产品四大业务板块；布局全球化的营销网络体系，实现国内和海外市场的齐头并进；奉行自主品牌推广与OEM/ODM并重的发展战略，夯实“神驰”品牌“发电机专家”的业界实力与用户口碑，打造“百年神驰”。</span></span>
                                </span>
                                </span>
                            </p>
                            <p>
                                &nbsp;</p>
                            <p>
                                &nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content -->
            <!-- footer -->
            <% include ../common/footer.html %>
                <!-- /footer -->
</body>

</html>
